div.app-box {
    background-color: #444;
    box-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 50%;
    padding:2%;
}

div.app-form {
    width: 100%;
}

.app-field {
    display: block;
    padding: 0.5rem;
    width: 100%;
    border: 0.1rem solid #eee;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: inherit;
}

input.expand {
    border-radius: 5px 5px 0 0;
}

textarea {
    max-width: 100%;
    resize: none;
}

textarea.expand {
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 5px;
    border-radius: 0 0 5px 5px;
}

textarea.minimize {
    border-radius: 5px;
}

button.app-submit {
    position: relative;
    float: right;
    margin-right: 0.5rem;
    padding: 0.2rem 0.6rem;
    font-size: 1.5rem;
    border-radius: 50%;
    outline: none;
    border: 0.1rem solid #444;
    cursor: pointer;
}