div.application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

div.counter {
    flex: 1 0 2rem;
    margin-left: 12%;
    text-align: center;
    text-transform: none;
}

div.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 4rem;
}