div.card {
    margin-top: 2rem;
    border: 0.1rem solid #eee;
    outline: 0.1rem solid #ddd;
    outline-offset: -15px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 2% 8%;
}

div.card:hover {
    outline-offset: 0;
}

div.card-title {
    border-bottom: 0.1rem solid #ddd;
}

div.card-title a {
    text-decoration: none;
    color: inherit;
}

div.card-title a h4:hover {
    transform: scale(1.1) translateX(17px);
}
