h2.auth-title {
    margin: 2rem auto;
    text-align: center;
}

input.login, button.login-btn {
    display: block;
    width: 30%;
    border: 0.1rem solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1.1rem;
    text-align: center;
}

button.login-btn {
    border: none;
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

button.login-btn:hover {
    background-color: #555;
}

button .login-icon {
    position: relative;
    top: 0.1rem;
    margin-left: auto;
    font-size: 1.1rem;
}

p.error {
    text-align: center;
    margin-top: 2rem;
    color: red;
}